.bg-image {
    background-image: url("/public/images/bg.png");
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text {
    text-align: center;
    font-size: 80px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    line-height: 90px;
}

.content {
    text-align: center;
}
